body {
    margin: 0px;
    font-family: sans-serif;
}
body > * {
    width: 90vw;
    margin: auto;
}

.hidden {
    display: none !important;
}

#render-area {
    position: relative;
}
#render-area > div {
    position: absolute;
    cursor: pointer;
}

div.track {
    height: 10px;
    background-color: black;
    z-index: 2;
}
div.signal, div.speed {
    height: 0;
    width: 0;

    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; 

    z-index: 2;
}
div.signal[data-facing=up] {
    border-left: 15px solid red;
}
div.signal[data-facing=down] {
    border-right: 15px solid red;
}
div.speed[data-facing=up] {
    border-left: 15px solid orange;
}
div.speed[data-facing=down] {
    border-right: 15px solid orange;
}
div.points {
    height: 10px;
    background-color: black;
    transform-origin: 0 0;
}
div.platform {
    height: 50px;
    background-color: rgba(255, 68, 0, 0.7);
}

div.uncommissioned {
    filter: opacity(0.5);
}


.direction-guide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infobox-section {
    display: none;
}
.infobox[data-section=signal] .infobox-section[data-type=signal] {
    display: block;
}
.infobox[data-section=speed] .infobox-section[data-type=speed] {
    display: block;
}

.signal-display {
    background-image: linear-gradient(grey, grey);
    background-size: 20px;
    background-position: 30px 10px;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.signal-display[data-dwarf=true] {
    background: none;
    padding-bottom: 0px;
}

.signal-head {
    width: 40px;
    background-color: black;
    padding: 20px;
    padding-bottom: 5px;
    border-radius: 50px 50px 0px 0px;
    margin-bottom: 20px;
}
.signal-head[data-offset=true] {
    transform: translate(20px, 0px);
}
.signal-head:empty {
    display: none;
}

.signal-display[data-dwarf=true] .signal-head {
    width: 20px;
    padding: 5px;
    border-radius: 0px;
}
.signal-head.subsidiary {
    width: 40px;
    height: 40px;
    padding: 20px;
    border-radius: 50px;
}
.signal-head.subsidiary .lamp.small {
    margin: 10px;
}

.lamp {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 5px 0px;
}
.lamp.small, .signal-display[data-dwarf=true] .lamp {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 15px 10px;
}
.signal-display[data-dwarf=true] .lamp {
    margin: 5px 0px;
}
.lamp.red {
    background-color: red;
}
.lamp.yellow {
    background-color: orange;
}
.lamp.green {
    background-color: lime;
}

.speed-sign {
    display: inline-block;

    font-family: sans-serif;
    font-size: 48px;
    color: black;

    padding: 7px;
}
.speed-sign.yellow {
    background-color: #FFDE00;
}
.speed-sign.med {
    background-color: #0C4CA1;
    color: white;
}
.speed-sign.white {
    background-color: white;
}
.speed-sign.square {
    border: 1px solid black;
    border-radius: 10px;
}
.speed-sign.med.square {
    border: 1px solid white;
}
.speed-sign.x::before {
    content: "X";
}
.speed-sign.mu::after {
    content: "MU";
    writing-mode: vertical-lr;
    font-size: 24px;
    position: relative;
    left: -1em;
    top: -24px;
}