body {
    margin: 0px;
    font-family: sans-serif;
}
body > * {
    width: 90vw;
    margin: auto;
}

.hidden {
    display: none !important;
}

#render-area {
    position: relative;
    overflow-x: scroll;
}
#render-area > div {
    position: absolute;
    cursor: pointer;
}

div.track {
    height: 10px;
    background-color: black;
    z-index: 2;
}
div.signal, div.speed {
    height: 0;
    width: 0;

    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent; 

    z-index: 2;
}
div.signal[data-facing=up] {
    border-left: 15px solid red;
}
div.signal[data-facing=down] {
    border-right: 15px solid red;
}
div.speed[data-facing=up] {
    border-left: 15px solid orange;
}
div.speed[data-facing=down] {
    border-right: 15px solid orange;
}
div.points {
    height: 10px;
    background-color: black;
    transform-origin: 0 0;
}
div.platform {
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: rgba(255, 68, 0, 0.7);
}
div.platform[data-facing=up] {
    transform: translate(0px, 15px);
    align-items: flex-start;
}
div.platform[data-facing=down] {
    transform: translate(0px, -45px);
    align-items: flex-end;
}

div.uncommissioned {
    filter: opacity(0.5);
}


.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.controls p {
    color: #00FA;
    font-weight: bold;
}

.infobox-section {
    display: none;
}
.infobox[data-section=signal] .infobox-section[data-type=signal] {
    display: block;
}
.infobox[data-section=speed] .infobox-section[data-type=speed] {
    display: block;
}

.signal-display {
    background-image: linear-gradient(grey, grey);
    background-size: 20px;
    background-position: 30px 10px;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}
.signal-display[data-ground=true] {
    background: none;
    padding-bottom: 0px;
}

.signal-head {
    width: 40px;
    background-color: black;
    padding: 20px;
    padding-bottom: 5px;
    border-radius: 50px 50px 0px 0px;
    margin-bottom: 20px;
}
.signal-head[data-offset=true] {
    transform: translate(20px, 0px);
}
.signal-head:empty {
    display: none;
}

.signal-display[data-dwarf=true] .signal-head {
    width: 20px;
    padding: 5px;
    border-radius: 0px;
}
.signal-head.subsidiary {
    width: 40px;
    height: 40px;
    padding: 20px;
    border-radius: 50px;
}
.signal-head.subsidiary .lamp.small {
    margin: 10px;
}

.lamp {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 5px 0px;
}
.lamp.small, .signal-display[data-dwarf=true] .lamp {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 15px 10px;
}
.signal-display[data-dwarf=true] .lamp {
    margin: 5px 0px;
}
.lamp.red {
    background-color: red;
}
.lamp.yellow {
    background-color: orange;
}
.lamp.green {
    background-color: lime;
}

.speed-sign-display {
    display: inline-flex;
    flex-direction: column;
}
.speed-sign-display svg {
    margin: 5px 0px;
}