body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
p {
  margin: 0px;
}

video {
  max-height: 50vh;
}

#info {
  width: 400px;
}
#info .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#info .row:nth-child(even) {
  background-color: #ddd;
}
#info .row.indent {
  padding-left: 10px;
}

.toggle-button-group {
    display: inline flex;
    flex-direction: row;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.7;
    border: 1px solid black;
    border-radius: 0px;
    margin: 0px;
    height: 25px;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.1s ease-in-out;
}
.button:hover {
    cursor: pointer;
    background-color: limegreen;
    color: black;
    opacity: 0.7;
}
.toggle-button-group .button {
    border-radius: 0px;
}
.toggle-button-group .button.selected {
    background-color: limegreen;
    color: black;
    opacity: 1;
}
.toggle-button-group .button:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.toggle-button-group .button:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}